<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
    <Package Name="DataLab-WinPython" ProductCode="f3313a2e-1d05-4a9f-af25-046ac0227a95" Language="1033" Version="{version}" Codepage="1252" Manufacturer="DataLab Platform Developers" UpgradeCode="a8002fab-c887-4ada-9792-ba1aedae50b6" InstallerVersion="500" Scope="perUserOrMachine" Compressed="yes">
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <Icon Id="DataLab.exe" SourceFile=".\executables\DataLab.ico" />
        <Icon Id="DataLabResetIcon" SourceFile=".\executables\DataLab-Reset.ico" />
        <WixVariable Id="WixUILicenseRtf" Value=".\wix\license.rtf" />
        <WixVariable Id="WixUIDialogBmp" Value=".\wix\dialog.bmp" />
        <WixVariable Id="WixUIBannerBmp" Value=".\wix\banner.bmp" />
        <MediaTemplate EmbedCab="yes" CompressionLevel="none" />
        <Property Id="MSIFASTINSTALL" Value="2" />
        <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER"/>
        <Feature Id="ProductFeature" Title="DataLab-WinPython" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
        
        <!-- Custom actions for archive extraction using bundled 7za.exe with hidden VBScript wrappers -->
        <CustomAction Id="ExtractArchive" Directory="INSTALLFOLDER" Execute="deferred" Impersonate="no" HideTarget="yes"
                      ExeCommand="&quot;[System64Folder]wscript.exe&quot; &quot;[INSTALLFOLDER]extract.vbs&quot; &quot;[INSTALLFOLDER]7za.exe&quot; &quot;[INSTALLFOLDER]DataLab-WinPython-files.zip&quot; &quot;[INSTALLFOLDER]&quot;"
                      Return="check" />
        
        <CustomAction Id="DeleteArchive" Directory="INSTALLFOLDER" Execute="deferred" Impersonate="no" HideTarget="yes"
                      ExeCommand="&quot;[System64Folder]cmd.exe&quot; /c &quot;del /q &quot;[INSTALLFOLDER]DataLab-WinPython-files.zip&quot; &amp; del /q &quot;[INSTALLFOLDER]7za.exe&quot; &amp; del /q &quot;[INSTALLFOLDER]extract.vbs&quot;&quot;"
                      Return="ignore" />
        
        <CustomAction Id="CleanupOnUninstall" Directory="INSTALLFOLDER" Execute="deferred" Impersonate="no" HideTarget="yes"
                      ExeCommand="&quot;[System64Folder]wscript.exe&quot; &quot;[INSTALLFOLDER]cleanup.vbs&quot; &quot;[INSTALLFOLDER]&quot;"
                      Return="ignore" />
        
        <InstallExecuteSequence>
            <Custom Action="ExtractArchive" After="InstallFiles" Condition="NOT Installed" />
            <Custom Action="DeleteArchive" After="ExtractArchive" Condition="NOT Installed" />
            <Custom Action="CleanupOnUninstall" Before="RemoveFiles" Condition="REMOVE=&quot;ALL&quot;" />
        </InstallExecuteSequence>
    </Package>
    <Fragment>
        <StandardDirectory Id="ProgramFilesFolder">
            <Directory Id="INSTALLFOLDER" Name="DataLab-WinPython" />
        </StandardDirectory>
        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ApplicationProgramsFolder" Name="DataLab-WinPython" />
        </StandardDirectory>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents">
            <!-- 7za.exe standalone extractor -->
            <Component Id="PC_7za" Directory="INSTALLFOLDER" Guid="b2c3d4e5-f6a7-5b6c-9d0e-1f2a3b4c5d6e">
                <File Id="File7za" Name="7za.exe" Source=".\wix\7za.exe" KeyPath="yes" />
            </Component>
            
            <!-- VBScript helpers for silent extraction -->
            <Component Id="PC_VBScripts" Directory="INSTALLFOLDER" Guid="c3d4e5f6-a7b8-6c7d-0e1f-2a3b4c5d6e7f">
                <File Id="FileExtractVBS" Name="extract.vbs" Source=".\wix\extract.vbs" KeyPath="yes" />
                <File Id="FileCleanupVBS" Name="cleanup.vbs" Source=".\wix\cleanup.vbs" />
            </Component>
            
            <!-- Archive component -->
            <Component Id="PC_Archive" Directory="INSTALLFOLDER" Guid="a1b2c3d4-e5f6-4a5b-8c9d-0e1f2a3b4c5d">
                <File Id="ArchiveFile" Name="DataLab-WinPython-files.zip" Source="{archive_path}" KeyPath="yes" />
            </Component>
            
            <!-- Launcher executables component -->
            <Component Id="PC_Executables" Directory="INSTALLFOLDER" Guid="502b999f-a88e-464b-ba6c-a8c987937c41">
                <File Source=".\dist\DataLab-WinPython\DataLab.exe" KeyPath="yes" />
                <File Source=".\dist\DataLab-WinPython\Jupyter Lab.exe" />
                <File Source=".\dist\DataLab-WinPython\Jupyter Notebook.exe" />
                <File Source=".\dist\DataLab-WinPython\Spyder.exe" />
                <File Source=".\dist\DataLab-WinPython\Spyder reset.exe" />
                <File Source=".\dist\DataLab-WinPython\WinPython Command Prompt.exe" />
                <File Source=".\dist\DataLab-WinPython\WinPython Control Panel.exe" />
                <File Source=".\dist\DataLab-WinPython\WinPython Interpreter.exe" />
            </Component>
            <!-- Shortcut components: one component per shortcut with registry KeyPath -->
            <Component Id="PC_Shortcut_Main" Directory="ApplicationProgramsFolder" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut" Name="DataLab" Description="DataLab" Target="[INSTALLFOLDER]\DataLab.exe" WorkingDirectory="INSTALLFOLDER" Icon="DataLab.exe" />
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="shortcut_main" Type="integer" Value="1" KeyPath="yes" />
                <RemoveFolder Id="RemoveApplicationProgramsFolder1" Directory="ApplicationProgramsFolder" On="uninstall" />
            </Component>
            <Component Id="PC_Shortcut_Reset" Directory="ApplicationProgramsFolder" Guid="*">
                <Shortcut Id="ResetApplicationStartMenuShortcut" Name="Reset DataLab" Description="Resets DataLab configuration" Target="[INSTALLFOLDER]\DataLab.exe" Arguments="--reset" WorkingDirectory="INSTALLFOLDER" Icon="DataLabResetIcon" />
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="shortcut_reset" Type="integer" Value="1" KeyPath="yes" />
                <RemoveFolder Id="RemoveApplicationProgramsFolder2" Directory="ApplicationProgramsFolder" On="uninstall" />
            </Component>
            <Component Id="PC_Shortcut_CommandPrompt" Directory="ApplicationProgramsFolder" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut01" Name="DataLab-WinPython Command Prompt" Description="DataLab-WinPython Command Prompt" Target="[INSTALLFOLDER]\WinPython Command Prompt.exe" WorkingDirectory="INSTALLFOLDER" />
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="shortcut_cmdprompt" Type="integer" Value="1" KeyPath="yes" />
                <RemoveFolder Id="RemoveApplicationProgramsFolder3" Directory="ApplicationProgramsFolder" On="uninstall" />
            </Component>
            <Component Id="PC_Shortcut_ControlPanel" Directory="ApplicationProgramsFolder" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut02" Name="DataLab-WinPython Control Panel" Description="DataLab-WinPython Control Panel" Target="[INSTALLFOLDER]\WinPython Control Panel.exe" WorkingDirectory="INSTALLFOLDER" />
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="shortcut_controlpanel" Type="integer" Value="1" KeyPath="yes" />
                <RemoveFolder Id="RemoveApplicationProgramsFolder4" Directory="ApplicationProgramsFolder" On="uninstall" />
            </Component>
            <Component Id="PC_Shortcut_Interpreter" Directory="ApplicationProgramsFolder" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut03" Name="DataLab-WinPython Interpreter" Description="DataLab-WinPython Interpreter" Target="[INSTALLFOLDER]\WinPython Interpreter.exe" WorkingDirectory="INSTALLFOLDER" />
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="shortcut_interpreter" Type="integer" Value="1" KeyPath="yes" />
                <RemoveFolder Id="RemoveApplicationProgramsFolder5" Directory="ApplicationProgramsFolder" On="uninstall" />
            </Component>
            <Component Id="PC_Shortcut_JupyterLab" Directory="ApplicationProgramsFolder" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut04" Name="Jupyter Lab" Description="Jupyter Lab" Target="[INSTALLFOLDER]\Jupyter Lab.exe" WorkingDirectory="INSTALLFOLDER" />
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="shortcut_jupyterlab" Type="integer" Value="1" KeyPath="yes" />
                <RemoveFolder Id="RemoveApplicationProgramsFolder6" Directory="ApplicationProgramsFolder" On="uninstall" />
            </Component>
            <Component Id="PC_Shortcut_JupyterNotebook" Directory="ApplicationProgramsFolder" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut05" Name="Jupyter Notebook" Description="Jupyter Notebook" Target="[INSTALLFOLDER]\Jupyter Notebook.exe" WorkingDirectory="INSTALLFOLDER" />
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="shortcut_jupyternotebook" Type="integer" Value="1" KeyPath="yes" />
                <RemoveFolder Id="RemoveApplicationProgramsFolder7" Directory="ApplicationProgramsFolder" On="uninstall" />
            </Component>
            <Component Id="PC_Shortcut_Spyder" Directory="ApplicationProgramsFolder" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut06" Name="Spyder" Description="Spyder" Target="[INSTALLFOLDER]\Spyder.exe" WorkingDirectory="INSTALLFOLDER" />
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="shortcut_spyder" Type="integer" Value="1" KeyPath="yes" />
                <RemoveFolder Id="RemoveApplicationProgramsFolder8" Directory="ApplicationProgramsFolder" On="uninstall" />
            </Component>
            <Component Id="PC_Shortcut_SpyderReset" Directory="ApplicationProgramsFolder" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut07" Name="Spyder reset" Description="Spyder reset" Target="[INSTALLFOLDER]\Spyder reset.exe" WorkingDirectory="INSTALLFOLDER" />
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="shortcut_spyderreset" Type="integer" Value="1" KeyPath="yes" />
                <RemoveFolder Id="RemoveApplicationProgramsFolder9" Directory="ApplicationProgramsFolder" On="uninstall" />
            </Component>
            <Component Id="PC_Shortcut_Uninstall" Directory="ApplicationProgramsFolder" Guid="*">
                <Shortcut Id="UninstallProductShortcut" Name="Uninstall DataLab" Description="Uninstalls DataLab" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" WorkingDirectory="INSTALLFOLDER" Icon="DataLab.exe" />
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="shortcut_uninstall" Type="integer" Value="1" KeyPath="yes" />
                <RemoveFolder Id="RemoveApplicationProgramsFolder10" Directory="ApplicationProgramsFolder" On="uninstall" />
            </Component>
            <Component Id="PC_Registry" Directory="INSTALLFOLDER" Guid="*">
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>